---
- name: IOS Version Report
  hosts: all
  gather_facts: false
  connection: network_cli
  vars:
    ansible_user: admin
    ansible_password: admin

  tasks:
    - name: Get version
      cisco.ios.ios_command:
        commands:
          - show version
      register: version

    - name: Show version
      debug:
        msg: "{{ inventory_hostname }}: {{ (version.stdout_lines[0] | select('match', '.* IOS.*') | first) }}"